/* Custom Stylesheet */

/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
}


p {
    line-height: 2rem;
}

h6 {
    font-weight: 500;
}

.active{
 color: white;
}

.btn {
    margin: 1%;
}

.pad-top {
    padding-top: 5rem;
}

.margin-text-up{
    margin-top:2.82rem ;
}

.margin-card-up{
    margin-top: 3.5rem;
}

.margin-up-bottom {
    margin: 2rem 0;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidenav-overlay {
    z-index: 996;
}

.no-width {
    width: 0 !important;
}

/* Custom Colors */

.grey.accent-1 {
    background-color: #2a2a2f!important;
}

.grey-text.text-accent-1 {
    color: #2a2a2f!important;
}

.grey.accent-2 {
    background-color: #29292d!important;
}

.grey-text.text-accent-2 {
    color: #29292d!important;
}
.grey.accent-3 {
    background-color: #232328!important;
}

.grey-text.accent-3 {
    color: #232328!important;
}

/* NavBar Styles*/

.menu{
    width: 70%;
}

.menu a.brand-logo{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
}

.nav {
    background-color: #29292d;
}

.navbar-fixed{
  position: absolute;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

nav ul a,
nav .brand-logo {
  color: rgba(255,255,255,0.65);
}

/* Swiper Slider Styles*/

.swiper-slide {
  height: 100px;
}

.swiper-container {
  width: 80%;
  height: 100%;
  background-color: #f8f8f8;
}

.swiper-container-testimonials {
    width: 100%;
    height: 100%;
}

/* Home Section */

.home {
    position: relative;
    top: 30%;
}

.home-section{
    /* The image used */
    background-image: url("../img/background/test.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.home-section:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1010108c;
    box-shadow: 0 1px 14px 0 rgb(72, 72, 72);


    /*background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;*/
}

.header {
   padding: 15px 0;
}

h1.header {
    margin: 0;
}

h1 span{
    font-family: 'Monoton', cursive;
    font-size: 5rem;
    font-weight: 500;
    padding: 0.5rem;
}

h5 span{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    padding: 0.5rem;
}
.section#Home {
    padding-top: 12rem;
    padding-bottom: 0;
}

/* Demos Section */

.card p{
    font-size: 1.5rem;
    font-family: 'Monoton', cursive;
    padding-bottom: 2rem;
}

a.scroll:hover{
    background-position-y: 100%;
}

.demo1{
    background-image: url(../img/demos/demo1.jpg);
    width: 100%;
    height: 360px;
    display: block;
    position: relative;
    z-index: 222;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 0;
    overflow: hidden;
    -webkit-transition: all 7s ease-out;
    -moz-transition: all 7s ease-out;
    -o-transition: all 7s ease-out;
    transition: all 7s ease-out;
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    text-align: center;
}

.demo2{
    background-image: url(../img/demos/demo2.jpg);
    width: 100%;
    height: 360px;
    display: block;
    position: relative;
    z-index: 222;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 0;
    overflow: hidden;
    -webkit-transition: all 7s ease-out;
    -moz-transition: all 7s ease-out;
    -o-transition: all 7s ease-out;
    transition: all 7s ease-out;
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    text-align: center;
}

.demo3{
    background-image: url(../img/demos/demo3.jpg);
    width: 100%;
    height: 360px;
    display: block;
    position: relative;
    z-index: 222;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 0;
    overflow: hidden;
    -webkit-transition: all 7s ease-out;
    -moz-transition: all 7s ease-out;
    -o-transition: all 7s ease-out;
    transition: all 7s ease-out;
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    text-align: center;
}

.demo4{
    background-image: url(../img/demos/demo4.jpg);
    width: 100%;
    height: 360px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.demo5{
    background-image: url(../img/demos/demo5.jpg);
    width: 100%;
    height: 360px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.demo6{
    background-image: url(../img/demos/demo6.jpg);
    width: 100%;
    height: 360px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.more {
    padding-top: 2rem;
}

/* CustomDesign */

.border-top{
    border-top: 1px solid grey;
}

.border-bottom{
    border-bottom: 1px solid grey;
}

.customdesign{
    padding: 0 15%!important;
}

.customdesign .card{
    padding: 1rem;
}

.customdesign .card p{
    padding-bottom: 0;
}

/* Features design */

span.card-title:after{
    content: '';
    position: absolute;
    left: 45%;
    top: 35%;
    margin: auto;
    width: 10%;
    height: 1px;
    background: grey;
    opacity: .5;
}

p.normal{
    font-family: "Roboto", sans-serif;;
    font-weight: 300;
    font-size: 1.2rem;
    padding-top: 10%;
    padding-bottom: 5%;
}

/* Contacts section*/

.contacts {
    position: relative;
    bottom: 0;
    left: 150px!important;
}

form.contact {
    width: 70%;
}

#map {
position: absolute;
    width: 100%;
    height: 630px;
}

.maptooltip {
    color: black;
}

/* Footer */

.icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-icons {
    position: relative;
    top: 32%;
    font-size: 1.3rem!important;
}

a.icons:hover {
    color: #ff5252 !important;
}

a.web-brand:hover{
    color: #F44336!important;
}

/* Media Query*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

    /* Blockquote */

    em.centering {
        bottom: 100px;
        padding: 0;
    }

    /* Testimonial */

    em.testimonial {
        font-size: 1.3rem;
        bottom: 120px;
        padding: 0;
    }

    .img-testimonial {
        bottom: 150%;
    }

    /* Newsletter */

    .newsletter {
        top: 0!important;
    }

    .no-flex-center {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width : 768px) {
  #index-banner .section {
    top: 0;
  }

    a.brand-logo{
        display: none;
    }

    /* Home */

   h1.header {
       font-size: 3.56rem;
   }

    /* Blockquote */

    em.centering {
        bottom: 100px;
        padding: 0;
    }

    /* Testimonial */

    em.testimonial {
        font-size: 1.3rem;
        bottom: 120px;
        padding: 0;
    }

    .img-testimonial {
        bottom: 150%;
    }

    /* Contacts */

    #map {
        position: relative;
    }

    .contacts {
        left: 0!important;
    }
}

/* Iphone */

@media only screen and (max-width : 320px) {
    #index-banner .section {
        top: 0;
    }

    a.brand-logo{
        display: none;
    }

    /* Home */



    h1.header {
        font-size: 3rem;
    }

    /* Blockquote */

    em.centering {
        bottom: 100px;
        padding: 0;
    }

    /* Testimonial */

    em.testimonial {
        font-size: 1.3rem;
        bottom: 120px;
        padding: 0;
    }

    .img-testimonial {
        bottom: 150%;
    }

    /* Contacts */

    #map {
        position: relative;
    }

    .contacts {
        left: 0!important;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}